{%extends 'base.html'%}
{% load responsive_images %}

{% block content %}
{{block.super}}

<div class="container">   
   
    <div class="media-left">
        <figure class="image is-128x128">
            <img class="is-rounded" src="{% if profile.profile_photo %}{{ profile.profile_photo.url }}{% else%} https://bulma.io/images/placeholders/128x128.png {% endif %}" style="border-radius: 50%; width:128px; height: 128px;" >
        </figure>
    </div>
    <div class="media-right">
        <div>
            <h1 class="title">{% if profile.first_name %}{{ profile.first_name}} {{ profile.last_name}} {% endif %}</h1>
            <h2 class="subtitle is_3">@{{ profile.user}}</h2>
            <p class="subtitle is-6">Bio:{% if profile.bio %}{{ profile.bio }} {% endif%}</p>
            {% if user.is_authenticated and user == profile.user %}
            <a  class="btn button is-success" href="{% url 'editprofile' %}">Edit Profile</a>
            {% endif %}
            
            <button class="button is-success">Follow</button>
        </div>
    </div>
     <div class="container"> 
    <nav class="level is-mobile">
        
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Posts</p>
            <p class="title">{{image_count}}</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Following</p>
            <p class="title">{{following_count}}</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Followers</p>
            <p class="title">{{followers_count}}</p>
          </div>
        </div>
        
        
    </nav>
    

    
    </div>

    
</div>
    <section>
      <div class="container">
        <div class="columns is-mobile is multiline is centered">
          {% for image in images %}
            <div class="column is-one-quater">
              
                <figure >
                   <a href=""> <img src="{{ image.pic.url }}" alt="image" width="500" height="500" ></a>
                </figure>
               
            </div>
           
          {% endfor %}
        </div>
      </div>
    </section>
{% endblock %}